---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
spec:
  selector:
    matchLabels:
      app: backend-api
  replicas: 1
  revisionHistoryLimit: 1
  progressDeadlineSeconds: 600
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 50%
      maxSurge: 100%
  template:
    metadata:
      labels:
        app: backend-api     
    spec:
      terminationGracePeriodSeconds: 30    
      # Add imagePullSecrets to pull from private Docker Hub
      imagePullSecrets:
      - name: dockerhub-secret

      containers:
        - name: backend-api
          image: trainer1234/dotnet:withoutnewrelic
          imagePullPolicy: IfNotPresent
          ports:
            - name: app
              containerPort: 9080
              protocol: TCP              
          livenessProbe:
            httpGet:
              path: /health
              port: app
            failureThreshold: 3
            periodSeconds: 90
            initialDelaySeconds: 30
            timeoutSeconds: 30
          startupProbe:
            httpGet:
              path: /health
              port: app
            failureThreshold: 900
            periodSeconds: 2
            timeoutSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: app
            failureThreshold: 3
            periodSeconds: 90
            initialDelaySeconds: 30
            timeoutSeconds: 30               
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: INSTANCE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
            - name: APP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.labels['app'] 
          volumeMounts:
            - name: appsettings
              mountPath: /app/appsettings.json
              subPath: appsettings.json
              readOnly: true           
          resources: {}
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      restartPolicy: Always                             
      volumes:
        - name: appsettings
          secret:
            secretName: appsettings-backend            
---
apiVersion: v1
kind: Service
metadata:
  name: backend-api
  labels:
    app: backend-api
spec:
  type: NodePort
  selector:
    app: backend-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 9080
      nodePort: 31080  # <- your static NodePort

